<!DOCTYPE html>
<html>
<head>
    <title>Transferring Your Cart...</title>
</head>
<body onload="document.getElementById('punchout_form').submit();">
    <h1>Please wait, transferring your shopping cart back to your procurement system...</h1>

    <form id="punchout_form" action="{{ return_url }}" method="post" >
        <input type="hidden" name="cxml-urlencoded" value="{{ cxml_cart }}">
    </form>

    <p>If you are not automatically redirected, please click the button below:</p>
    <button onclick="document.getElementById('punchout_form').submit();">Return to Ariba</button>
</body>
</html>