[Unit]
Description=gunicorn daemon for ecommerce project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Kalika_projects
ExecStart=/home/ubuntu/Kalika_projects/env/bin/gunicorn \
    --workers 3 \
    --bind unix:/home/ubuntu/Kalika_projects/gunicorn.sock \
    ecommerce.wsgi:application

[Install]
WantedBy=multi-user.target