<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="main-header">
    <ul class="navbar-nav">
        <li class="dropdown1">
            <a href="#" class="btn-categories">
                <div class="all-categories">
                      <i class="fa fa-list"></i> All Categories
                </div>
            </a>
            <ul class="dropdown-menu">
                {% for maincategory, subcategories in categories.items() %}
                    <li>
                        <a href="{{ url_for('show_category_products', maincategory=maincategory) }}">
                            {{ maincategory }}
                        </a>
                        <ul class="dropdown-submenu">
                            {% for subcategory in subcategories %}
                                <li>
                                    <a href="{{ url_for('show_subcategory_products', maincategory=maincategory, subcategory=subcategory) }}">
                                        {{ subcategory }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <div class="navbar-logo">
        <a href="/">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Industrial eCommerce Logo" class="logo-image">
        </a>
    </div>

    <div class="header-actions">
        <input type="text" class="search-bar" id="searchInput" placeholder="Search for products..."/>
        <button id="searchBtn"><i class="fa fa-search"></i></button>
        <div id="popupSearchResults" class="popup-search-results">
            <ul id="searchResults"></ul>
        </div>
    </div>

    <a href="{{ url_for('cart1.cart') }}" class="btn-cart">
        <i class="fa fa-shopping-cart"></i> Cart
        (<span class="cart-count">0</span>) </a>

    <div id="user-personalization">
        {% if 'user_id' in session %}
            <div class="user-profile-dropdown">
                <button class="btn-user" id="user-dropdown">
                    <i class="fa fa-user"></i> My Account
                </button>
                <div id="user-menu" class="dropdown-content">
                    <ul>
                        <li><a href="{{ url_for('edit_profile', user_id=session['user_id']) }}">Edit Profile</a></li>
                        <li><a href="{{ url_for('edit_address', user_id=session['user_id']) }}">Edit Address</a></li>
                        <li><a href="{{ url_for('login1.logout') }}">Logout</a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <a href="{{ url_for('login1.login') }}" class="btn-login" id="login-button">
                <i class="fa fa-user"></i> Login
            </a>
        {% endif %}
    </div>
</header>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>