<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kalika Industrial eCommerce</title>
    <meta charset="utf-8">
    <link rel="icon" type="../static/image/x-icon" href="../static/image/logo.png">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your go-to platform for industrial machinery, tools, and equipment.">
    <meta name="keywords" content="industrial, machinery, B2B, tools, heavy equipment">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="../static/style.css">

    

    <!-- External Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>

    <!-- HEADER START -->
    <header>
      <div class="container">
        <nav class="navbar">
                   
          <ul class="navbar-nav">
            <li class="dropdown1">
                <a href="category.html" class="btn-categories">
                    <i class="fa fa-list"></i> All Categories
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="products.html" target="_blank">Safety</a>
                        <ul class="dropdown-submenu">
                            <li>
                                <a href="products.html" target="_blank">Security</a>
                                <ul class="dropdown-submenu">
                                    <li><a href="products.html" target="_blank">Lock</a></li>
                                    <!-- Add more sub-subcategories if needed -->
                                </ul>
                            </li>
                            <li><a href="products.html" target="_blank">Antislip Product</a>
                              <ul class="dropdown-submenu">
                                <li><a href="products.html" target="_blank">Rubber Mat</a></li>
                                <!-- Add more sub-subcategories if needed -->
                            </ul>
                            </li>
                            <li><a href="products.html" target="_blank">Medical & Health Care</a>
                              <ul class="dropdown-submenu">
                                <li><a href="products.html" target="_blank">Barrier Cream</a></li>
                                <!-- Add more sub-subcategories if needed -->
                            </ul>
                          </li>
                            <li><a href="products.html" target="_blank">Satety Identification</a>
                            <ul class="dropdown-submenu">
                              <li><a href="products.html" target="_blank">Floor Marking Tape</a></li>
                              <li><a href="products.html" target="_blank">Barrication Tape</a></li>
                             </ul>
                            </li>
                            <li><a href="products.html" target="_blank">PPE</a>
                              <ul class="dropdown-submenu">
                                <li><a href="products.html" target="_blank">Safety Goggle (Splash)</a></li>
                                <li><a href="products.html" target="_blank">Bouffant Cap</a></li>
                                <li><a href="products.html" target="_blank">Welding Helmet</a></li>
                                <li><a href="products.html" target="_blank">Face Sheild</a></li>
                                <li><a href="products.html" target="_blank">Apron</a></li>
                                <li><a href="products.html" target="_blank">Respirator & Accessories</a></li>
                                <li><a href="products.html" target="_blank">Ear Muffs</a></li>
                                <li><a href="products.html" target="_blank">Hand Sleeves</a></li>
                                <li><a href="products.html" target="_blank">Glove</a></li>
                               </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="products.html" target="_blank">Janitorial</a>
                      <ul class="dropdown-submenu">
                        <li>
                            <a href="products.html" target="_blank">Saw Dust</a>
                            <ul class="dropdown-submenu">
                              <li><a href="products.html" target="_blank">Cotton Waste</a></li>
                              <li><a href="products.html" target="_blank">Hosiery Cloth</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="products.html" target="_blank">Cleaning</a>
                          <ul class="dropdown-submenu">
                            <li><a href="products.html" target="_blank">Hosiery Cloth</a></li>
                            <li><a href="products.html" target="_blank">Cotton Waste</a></li>
                          </ul>
                      </li>               
                </ul>
              </li>
                    <li><a href="products.html" target="_blank">Packaging</a></li>
                    <li><a href="products.html" target="_blank">Facility Maintainance</a>
                      <ul class="dropdown-submenu">
                        <li>
                            <a href="products.html" target="_blank">Welding Supplies & Equipment</a>
                            <ul class="dropdown-submenu">
                              <li><a href="products.html" target="_blank">Gas Pipe</a></li>
                            </ul>
                        </li>
                       <li>
                            <a href="products.html" target="_blank">Electrical & Electronic Components</a>
                            <ul class="dropdown-submenu">
                              <li><a href="products.html" target="_blank">Thyritor/Diode</a></li>
                              <li><a href="products.html" target="_blank">Limit Switch</a></li>
                              <li><a href="products.html" target="_blank">Solderig Gun</a></li>
                              <li><a href="products.html" target="_blank">Batteries</a></li>
                              <li><a href="products.html" target="_blank">Fuse</a></li>
                              <li><a href="products.html" target="_blank">Tube Light Choke</a></li>
                              <li><a href="products.html" target="_blank">Tube Light</a></li>
                              <li><a href="products.html" target="_blank">Heater</a></li>
                            </ul>  
                        </li>
                       <li>
                        <a href="products.html" target="_blank">Paint & Painting Supplies</a>
                        <ul class="dropdown-submenu">
                          <li><a href="products.html" target="_blank">Paper Paint Strainer</a></li>
                          <li><a href="products.html" target="_blank">Spray Painting Gun</a></li>
                          <li><a href="products.html" target="_blank">Solderig Gun</a></li>
                          <li><a href="products.html" target="_blank">Tack Rag</a></li>
                          <li><a href="products.html" target="_blank">Paint Brush</a></li>
                          <li><a href="products.html" target="_blank">Spray Gun</a></li>
                          <li><a href="products.html" target="_blank">Oil Paint</a></li>
                        </ul> 
                        </li>
                        <li>
                        <a href="products.html" target="_blank">Fittings</a>
                        <ul class="dropdown-submenu">
                          <li><a href="products.html" target="_blank">Wheel Ball</a></li>
                          <li><a href="products.html" target="_blank">Wheel</a></li>
                          <li><a href="products.html" target="_blank">Hoses Clips</a></li>
                          <li><a href="products.html" target="_blank">Flexible Hoses (Tube) </a></li>
                        </ul> 
                      </li>
                        <li>
                        <a href="products.html" target="_blank">Fasteners & Hardware</a>
                        <ul class="dropdown-submenu">
                          <li><a href="products.html" target="_blank">Hinges</a></li>
                          <li><a href="products.html" target="_blank">Foil</a></li>
                          <li><a href="products.html" target="_blank">Chemical Fasteners</a></li>
                          <li><a href="products.html" target="_blank">Mechanical Fasteners</a></li>
                          <li><a href="products.html" target="_blank">Grub Screw</a></li>
                          <li><a href="products.html" target="_blank">Dowel Pin</a></li>
                          <li><a href="products.html" target="_blank">Allen Screw</a></li>
                          <li><a href="products.html" target="_blank">Self Drilling Screw</a></li>
                          <li><a href="products.html" target="_blank">Nail Coil</a></li>
                          <li><a href="products.html" target="_blank">Latch</a></li>
                          <li><a href="products.html" target="_blank">Eyebolts</a></li>
                        </ul> 
                        </li>
                        <li>
                        <a href="products.html" target="_blank">Hydraulics & Pneumatics</a>
                        <ul class="dropdown-submenu">
                          <li><a href="products.html" target="_blank">VALVES AND CYLINDERS</a></li>
                        </ul>
                        </li>
                        <li>
                        <a href="products.html" target="_blank">Bearing</a></li>
                </ul>
              </li>
                <li><a href="products.html" target="_blank">Chemical & Lubricants </a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Hydraulic Oil</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Frl Unit Oil</a></li>
                        <li><a href="products.html" target="_blank">Oil</a></li>
                        <li><a href="products.html" target="_blank">Gearbox Oil</a></li>
                        <li><a href="products.html" target="_blank">Foot Powerpack Oil</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Chemicals</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Distilled Water</a></li>
                        <li><a href="products.html" target="_blank">Battery Acid</a></li>
                        <li><a href="products.html" target="_blank">Equipments</a></li>
                        <li><a href="products.html" target="_blank">GEL</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Lubricants</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Grease</a></li>
                      </ul> 
                    </li>
                  </ul>
                </li>      
                <li><a href="products.html" target="_blank">Abrasives</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Abrasive Wheel</a></li>
                    <li><a href="products.html" target="_blank">Wire Brush</a></li>
                    <li><a href="products.html" target="_blank">Polish Paper</a></li>
                    <li><a href="products.html" target="_blank">Abrasive Paper</a></li>
                    </ul> 
                </li>
                <li><a href="products.html" target="_blank">Adhesives, Sealants & Tape</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Glue Gun</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Masking Tape</a></li>
                        <li><a href="products.html" target="_blank">Transparent Tape</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">M Seal</a></li>
                    <li><a href="products.html" target="_blank">Teflon Tape</a></li>
                    <li><a href="products.html" target="_blank">Tape</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Transparent Tape</a></li>
                        <li><a href="products.html" target="_blank">Masking Tape</a></li>
                        </ul> 
                    </li>
                    </ul> 
                </li>
                <li><a href="products.html" target="_blank">Hand & Power Tools</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Grinder Accessories</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Backing Pad</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Hot Air Gun</a></li>
                    <li><a href="products.html" target="_blank">Air Powered Tools</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Air Drill Drivers</a></li>
                        <li><a href="products.html" target="_blank">Spring-Air Hammer Drill Gun</a></li>
                        <li><a href="products.html" target="_blank">Air Hammer Drill Gun</a></li>
                        <li><a href="products.html" target="_blank">Die Sander Nut Retaining</a></li>
                        <li><a href="products.html" target="_blank">Die Sander Backing Plate</a></li>
                        <li><a href="products.html" target="_blank">Die Sander</a></li>
                        <li><a href="products.html" target="_blank">Die Grinder</a></li>
                        <li><a href="products.html" target="_blank">Angle (Ratchets) Wrench </a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Impack Wrench</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Blue Point AT360 Spare Parts</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Safety Tools</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Continuity Tester</a></li>
                        <li><a href="products.html" target="_blank">Tester</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Screwdrivers & Keys</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Allen Keys</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Ratchet</a></li>
                    <li><a href="products.html" target="_blank">Spanner</a></li>
                    <li><a href="products.html" target="_blank">Sharpening Tool</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">File</a></li>
                        </ul>   
                    </li>
                    <li><a href="products.html" target="_blank">Hammers & Axes</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Chisels</a></li>
                        <li><a href="products.html" target="_blank">Scrapere</a></li>
                        <li><a href="products.html" target="_blank">Mallet</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Cable & Wire Tools</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Jib Crane Pendant Cable</a></li>
                        <li><a href="products.html" target="_blank">Lugs</a></li>
                        <li><a href="products.html" target="_blank">Sleeve Cutter</a></li>
                        <li><a href="products.html" target="_blank">Cable Tie Gun Blade Kit</a></li>
                        <li><a href="products.html" target="_blank">Cable Tie Gun</a></li>
                        <li><a href="products.html" target="_blank">Crimping Tool/a></li>
                          <li><a href="products.html" target="_blank">Insulation Stripper</a></li>
                        <li><a href="products.html" target="_blank">Crimpin Die</a></li>
                        <li><a href="products.html" target="_blank">Cable Cutter</a></li>
                        <li><a href="products.html" target="_blank">Wire Stripper & Cutter</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Pliers</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Nose Pliers</a></li>
                        <li><a href="products.html" target="_blank">Circlip Pilers</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Circlips</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Circlip</a></li>
                        <li><a href="products.html" target="_blank">Circlip Sets</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Riveting Gun</a></li>
                    </ul>   
                </li>
                <li><a href="products.html" target="_blank">Pneumatics</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Air Compression Equipment</a></li>
                    </ul> 
                </li>
                <li><a href="products.html" target="_blank">Cutting Tools</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Scissors</a></li>
                    <li><a href="products.html" target="_blank">Threading Tools</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Thread Repair Kit</a></li>
                        <li><a href="products.html" target="_blank">Tape</a></li>
                        </ul> 
                    </li>
                    <li><a href="products.html" target="_blank">Drilling Tools</a>
                      <ul class="dropdown-submenu">
                        <li><a href="products.html" target="_blank">Hammer Drill Bits</a></li>
                        <li><a href="products.html" target="_blank">Drill Bits</a></li>
                        </ul> 
                    </li>
                    </ul> 
                </li>
                <li><a href="products.html" target="_blank">Welding Tools</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Welding Mask</a></li>
                    <li><a href="products.html" target="_blank">Welding ROD</a></li>
                    </ul> 
                </li>
                <li><a href="products.html" target="_blank">Measuring Instruments & Tools</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Measuring Jar</a></li>
                    <li><a href="products.html" target="_blank">Measuring Tape</a></li>
                    </ul>   
                </li>
                <li><a href="products.html" target="_blank">Mechanical Power Transmission</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">Bearings</a></li>
                    <li><a href="products.html" target="_blank">Belts & Pulleys</a></li>
                    <li><a href="products.html" target="_blank">MOTOR</a></li>
                    <li><a href="products.html" target="_blank">COUPLING</a></li>
                    </ul> 
                </li>
                <li><a href="products.html" target="_blank">ACCESSORIES</a>
                  <ul class="dropdown-submenu">
                    <li><a href="products.html" target="_blank">GASKET</a></li>
                    <li><a href="products.html" target="_blank">CP Accessories</a></li>
                    </ul> 
                </li>
                <li><a href="products.html" target="_blank">STATIONERY</a></li>
                <li><a href="products.html" target="_blank">Appliances And Utilities</a></li>
                <li><a href="products.html" target="_blank">WAVE PROJECT</a></li>
                <li><a href="products.html" target="_blank">PLastic Bags</a></li>
                <li><a href="products.html" target="_blank">PTFE HOSE CTCI</a></li>
                </ul>
            </li>
        </ul>
        
          <div class="navbar-logo">
            <a href="index.html">
              <img src="../static/image/logo.png" alt="Industrial eCommerce Logo" class="logo-image">
            </a>
          </div>
          <div class="header-actions">
            <input type="text" placeholder="Search products..." class="search-bar">
            <button>
              <i class="fa fa-search"></i> Search
            </button>
            <a href="cart.html" class="btn-login"> 
              <i class="fa fa-shopping-cart"></i> 
              (<span class="cart-count"></span>) 
              
          </a>
          
            <a href="login.html" class="btn-login">
              <i class="fa fa-user"></i> Login</a>
          </div>
        </nav>
      </div>
    </header>
      <!-- HEADER END -->
     
    
      <!-- HERO SECTION START -->
    <section class="hero">
      <div class="container">
          <h1>Top Industrial Equipment for Your Business</h1>
          <p>We provide high-quality industrial machinery, tools, and safety gear for manufacturers, construction companies, and B2B vendors.</p>
          <!-- <a href="shop.html" class="btn-primary">Shop Now</a> -->
      </div>
    </section>
      <!-- HERO SECTION END -->
      <!-- CATEGORY  -->
        <section class="py-5 overflow-hidden">
      <div class="container-lg">
          <div class="row">
              <div class="col-md-12">

                  <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                  <h2 class="section-title">Category</h2>

          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="category-carousel swiper">
            <div class="swiper-wrapper">
              <a href="category.html" class="nav-link swiper-slide text-center">
                <img src="../static/image/Safety.jpg" class="rounded-circle" alt="Category Thumbnail">
                <h4 class="fs-6 mt-3 fw-normal category-title">Safety</h4>
              </a>
              <a href="category.html" class="nav-link swiper-slide text-center">
                <img src="../static/image/Janitorial.jpg" class="rounded-circle" alt="Category Thumbnail">
                <h4 class="fs-6 mt-3 fw-normal category-title">Janitorial</h4>
              </a>
              <a href="category.html" class="nav-link swiper-slide text-center">
                <img src="../static/image/Packaging.jpg" class="rounded-circle" alt="Category Thumbnail">
                <h4 class="fs-6 mt-3 fw-normal category-title">Packaging</h4>
              </a>
              <a href="category.html" class="nav-link swiper-slide text-center">
                <img src="../static/image/Proactive-Maintenance.jpg" class="rounded-circle" alt="Category Thumbnail">
                <h4 class="fs-6 mt-3 fw-normal category-title">Facility Maintenance</h4>
              </a>
              <a href="category.html" class="nav-link swiper-slide text-center">
                <img src="../static/image/lubricant.jpg" class="rounded-circle" alt="Category Thumbnail">
                <h4 class="fs-6 mt-3 fw-normal category-title">Chemical & Lubricant</h4>
              </a>
              <a href="category.html" class="nav-link swiper-slide text-center">
                <img src="../static/image/abrasives.jpg" class="rounded-circle" alt="Category Thumbnail">
                <h4 class="fs-6 mt-3 fw-normal category-title">Abrasives</h4>
              </a>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
    <!-- PRODUCT SECTION START -->
  <div class="container">
    <h2>Featured Products</h2>
    <div class="product-grid">
        <!-- Product Item 1 -->
        <div class="product-card">
          <img src="../static/image/lathe.jfif" alt="Industrial Lathe Machine">
          <div class="product-info">
            <h3>Industrial Lathe Machine</h3>
            <p>Precision-engineered lathe, perfect for metalworking. Power: 220V/380V</p>
            <span class="price">RS.5,000</span>
            <div class="product-actions">
              <button class="add-to-cart" data-name="Industrial Lathe Machine" data-price="5000">Add to Cart</button>
            </div>
          </div>
        </div>
   
        <!-- Product Item 2 -->
        <div class="product-card">
          <img src="../static/image/lathe.jfif" alt="Hydraulic Press ">
          <div class="product-info">
            <h3>Hydraulic PUMP</h3>
            <p>100-ton capacity press, built for heavy-duty operations.</p>
            <span class="price">RS.12,000</span>
            <div class="product-actions">
              <button class="add-to-cart" data-name="Hydraulic PUMP" data-price="2000">Add to Cart</button>
            </div>
          </div>
        </div>
        <!-- Product Item 3 -->
        <div class="product-card">
            <img src="../static/image/lathe.jfif" alt="Hydraulic Press">
            <div class="product-info">
                <h3>Welding mask (venus 425)</h3>
                <p>The Venus Welding Series is uniquely designed to provide relief from nuisance odors specifically in welding applications. </p>
                <span class="price">RS.56</span>
                <div class="product-actions">
                    <button class="add-to-cart" data-name="welding mask (venus 425)" data-price="56">Add to Cart</button>
                 </div>
            </div>
        </div>
        <!-- Product Item 4 -->
        <div class="product-card">
          <img src="../static/image/lathe.jfif" alt="Hydraulic Press">
          <div class="product-info">
              <h3>Duracell type c type - medium</h3>
              <p>Enjoy long usage durations as the Duracell batteries provide you a long-lasting performance and come with the Duralock technology to store the battery for a long period of time. </p>
              <span class="price">RS.98</span>
              <div class="product-actions">
                  <button class="add-to-cart" data-name="Duracell type C type - medium" data-price="98">Add to Cart</button>
              </div>
          </div>
      </div>

        <!-- Add more product items as needed -->
    </div>
 
</div>


        <!-- Add more products as needed -->
      </div>
    </div>

  </section>
  <!-- PRODUCT SECTION END -->
   
    <!-- FOOTER START -->
    <footer>
      <div class="container">
        <div class="footer-columns">
          <div class="footer-column">
            <h4>Company</h4>
            <ul>
              <li><a href="aboutus.html">About Us</a></li>
              <li><a href="privacy.html">Privacy Policy</a></li>
              <li><a href="terms.html">Terms of Service</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="contactus.html">Contact Us</a></li>
              <li><a href="faq.html">FAQs</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Stay Connected</h4>
            <p>Subscribe to our newsletter for the latest updates</p>
            <input type="email" placeholder="Enter your email" />
            <button class="btn-secondary">Subscribe</button>
            
          </div>
          
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Kalika Industrial eCommerce. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <!-- FOOTER END -->

    <!-- Link to JS file -->
    <script src="../static/js/script.js"></script>
    
    </body>

</html>