{% extends "base.html" %}
{% block title %} {{ maincategory }} Products {% endblock %}

{% block extra_css %}
    <style>
        .product-category { display: flex; justify-content: space-between; align-items: center; padding: 20px; background-color: #007bff; color: #fff; }
        .product-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 20px; padding: 20px; }
        .product-card { background-color: #fff; border: 1px solid #ddd; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 5px rgba(0,0,0,0.1); text-align: center; padding: 20px; width: 250px; height: 350px; display: flex; flex-direction: column; justify-content: space-between; }
        .product-image-wrapper { width: 100%; aspect-ratio: 1 / 1; overflow: hidden; border-bottom: 1px solid #ddd; margin-bottom: 5px; display: flex; justify-content: center; align-items: center; }
        .product-image { width: 100px; height: 100px; object-fit: cover; }
        .product_name { font-size: 1.2em; margin-bottom: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; }
        .product-description { font-size: 0.9em; color: #666; margin-bottom: 15px; flex-grow: 1; }
        .product_price { font-size: 1.1em; font-weight: bold; color: #333; margin-bottom: 10px; }
        .add-to-cart { background-color: #007bff; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px; }
        .add-to-cart:hover { background-color: #218838; }
    </style>
{% endblock %}


{% block content %}
<header class="product-category">
    <h1>{{ maincategory }} Products</h1>
    <a href="{{ url_for('home') }}" class="back-link">Back to Home</a>
</header>

<div class="product-grid">
    {% for product in products %}
    <form action="{{ url_for('cart1.add_to_cart') }}" method="POST" class="product-form">
        <div class="product-card">
            <div class="product-image-wrapper">
                <img src="{{ product.image_url }}" alt="{{ product.productname }}" class="product-image">
            </div>
            <h3 class="product_name">{{ product.productname }}</h3>
            <p class="product-description">{{ product.subcategory }}</p>
            <span class="product_price">Rs.{{ product.price | round(2) }}</span>
            <input type="hidden" name="itemcode" value="{{ product.itemcode }}">
            <input type="hidden" name="product_name" value="{{ product.productname }}">
            <input type="hidden" name="product_price" value="{{ product.price | round(2) }}">
            <input type="hidden" name="image_url" value="{{ product.image_url }}">
            <button type="submit" class="add-to-cart">Add to Cart</button>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}