{% extends "base.html" %}

{% block title %}Kalika Industrial eCommerce - Home{% endblock %}

{% block content %}
<section class="hero">
    <div id="heroCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ url_for('static', filename='images/default_banner.jpg') }}" alt="Industrial Machinery" style="width:100%;">
        </div>
      </div>
    </div>
</section>

<section class="py-5 overflow-hidden">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Shop by Category</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="category-carousel">
                    <div class="swiper-wrapper">
                        {% for category in maincategory %}
                        <a href="{{ url_for('products_by_category', main_category_name=category.name) }}" class="nav-link swiper-slide text-center">
                            <img src="{{ url_for('static', filename='images/default.jpg') }}" class="rounded-circle" alt="{{ category.name }}">
                            <h4 class="fs-6 mt-3 fw-normal category-title">{{ category.name }}</h4>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <h2>Featured Products</h2>
  <div class="product-grid">
      {% for product in random_products %}
      <div class="product-card">
        <a href="{{ url_for('product_detail', product_id=product.id) }}">
            <div class="product-image-wrapper">
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
            </div>
            <h3 class="product_name">{{ product.name }}</h3>
        </a>
        <p class="product-description">{{ product.description | truncate(100) }}</p>
        <span class="product_price">RS. {{ "%.2f"|format(product.price) }}</span>
        
        <form action="{{ url_for('cart1.add_to_cart') }}" method="POST">
            <input type="hidden" name="itemcode" value="{{ product.code }}">
            <input type="hidden" name="product_name" value="{{ product.name }}">
            <input type="hidden" name="product_price" value="{{ product.price }}">
            <input type="hidden" name="image_url" value="{{ product.image_url }}">
            <button type="submit" class="add-to-cart">Add to Cart</button>
        </form>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}